
<panel class="bio">
    <div class="row" id="bioContainer">
        <div id="AboutUs" class="col-md-4 col-md-offset-2" style="margin-top: 15px;">
            <h1>About Us</h1>
            <p style="overflow-wrap:break-word;">
                Here at Allure, we treasure customer testimonials and referrals more than industry awards. We aim to make
                your home a place of relaxation and peace. Started in 2015, owners Daniel Tingle and Matt Bressert follow the motto,
                we can't fix the kids banging on the door, but we can make it relaxing when you lock yourself in there.
                Become our next loyal customer and request your free estimate!
            </p>
        </div>
        <div class="col-md-6 mx-auto d-block">
            <p>
                <picture>
                    <img id="BioPicOne" class="img-thumbnail img-fluid" src="~/Content/images/work1.JPG" alt="placeholder" style=" width: 213px; height: 245px"/>
                </picture>
            </p>
        </div>
    </div>
</panel>