@model AllureRemodeling.Models.Users

@{
    ViewBag.Title = "CreateCustomerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel" style="margin-top: 15px;">
        <div class="panel-heading" style="background-color: blue; color: white;">
            Personal Information
        </div>
        <div class="panel-body">
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_firstName">First Name</label>
                <input id="addCustomer_firstName" class="form-control" type="text" placeholder="First Name" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_firstName">Last Name</label>
                <input id="addCustomer_lastName" class="form-control" type="text" placeholder="Last Name" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_email">Email</label>
                <input id="addCustomer_email" class="form-control" type="text" placeholder="Email" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_address1">Address</label>
                <input id="addCustomer_address1" class="form-control" type="text" placeholder="Address" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_address2">Address 2</label>
                <input id="addCustomer_address2" class="form-control" type="text" placeholder="Apt#" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_city">City</label>
                <input id="addCustomer_city" class="form-control" type="text" placeholder="City" />
            </div>
            <div class="form-group col-md-4">
                <label for="orgSettings-mainContactState">State:</label>
                @Html.EnumDropDownListFor(m => m.State, "-- Please select your state --",
                                           new { @id= "addCustomer-State", @class = "form-control" })
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_zip">Zip Code</label>
                <input id="addCustomer_zip" class="form-control" type="text" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_password">Password</label>
                <input id="addCustomer_password" class="form-control" type="password" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_confirmpassword">Confirm Password</label>
                <input id="addCustomer_confirmpassword" class="form-control" type="password" />
            </div>

            <div class="col-md-6 col-md-offset-4" style="padding-top: 15px;">
                <input type="button" class="btn btn-primary btn-block" id="createAccount" value="Submit" />
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function ()
        {

            $("#createAccount").click(function ()
            {
                // create customer object to enter into users tables
                var customerAccount = new Object();

                // create system_users object to enter into system users table
                var user = new Object();    

                // populate the customer object
                customerAccount.FirstName       = $("#addCustomer_firstName").val();
                customerAccount.LastName        = $("#addCustomer_lastName").val();
                customerAccount.EmailAddress    = $("#addCustomer_email").val();
                customerAccount.Address1        = $("#addCustomer_address1").val();
                customerAccount.Address2        = $("#addCustomer_address2").val();
                customerAccount.City            = $("#addCustomer_city").val();
                customerAccount.State           = $("#addCustomer-State").find(":selected").text();
                customerAccount.Zip             = $("#addCustomer_zip").val();

                // populate the user
                user.Password                   = $("#addCustomer_password").val();
                user.Username                   = $("#addCustomer_email").val(); 
                confirmPassword                 = $("#addCustomer_confirmpassword").val();
                if (user.Password != confirmPassword) {
                    showErrorMessage("Passwords Do Not Match", "Please retype your password");
                }
                // Check to see if everything is filled in 
                else
                {
                    if (customerAccount.FirstName && customerAccount.LastName && customerAccount.EmailAddress && customerAccount.Address1 && customerAccount.City && customerAccount.State && customerAccount.Zip)
                    {

                        $.ajax
                        ({
                            type: 'POST',
                            url: '@Url.Action("AddSystemUser", "Home")',
                            data: JSON.stringify(user),
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            beforeSend: function () 
                            {
                                $(".loader").show();
                            },
                            success: function (data) 
                            {
                                if (data == true) {
                                    $.ajax
                                        ({
                                            type: 'POST',
                                            url: '@Url.Action("AddCustomerAccount", "Home")',
                                            data: JSON.stringify(customerAccount),
                                            dataType: 'json',
                                            contentType: "application/json; charset=utf-8",
                                            success: function (data)
                                            {
                                                $.confirm
                                                ({
                                                    title: "Account Created",
                                                    content: "Your account has been created.  You may go to the login screen",
                                                    type: 'green',
                                                    typeAnimated: true,
                                                    autoClose: 'OK|3000',
                                                    buttons:
                                                    {
                                                        OK:
                                                        {
                                                            text: 'OK',
                                                            btnClass: 'btn-green',
                                                            action: function ()
                                                            {
                                                                 var redirectURL = '@Url.Action("Index", "Home")';
                                                                 window.location.href = redirectURL;
                                                            }
                                                        }
                                                    }
                                                });
                                            },
                                        });
                                }

                                else
                                {
                                    showErrorMessage("Account Already Exists", "There is already an account associated with this email address.  If you forgot your password please go to the login screen and select forgot password")
                                }
                               
                            },
                            complete: function () {
                                $(".loader").hide();
                            }
                        });
                    }
                    // check to see if the user is in the system users table if not enter them.  If so inform them
                    else
                    {
                        showErrorMessage("Incomplete Data","Please make sure all required fields have values")
                    }
                }
            });
        });
    </script>    
}