@model AllureRemodeling.Models.Users

@{
    ViewBag.Title = "CreateCustomerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel" style="margin-top: 15px;">
        <div class="panel-heading" style="background-color: blue; color: white;">
            Personal Information
        </div>
        <div class="panel-body">
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_firstName">First Name</label>
                <input id="addCustomer_firstName" class="form-control" type="text" placeholder="First Name" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_firstName">Last Name</label>
                <input id="addCustomer_lastName" class="form-control" type="text" placeholder="Last Name" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_email">Email</label>
                <input id="addCustomer_email" class="form-control" type="text" placeholder="Email" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_address1">Address</label>
                <input id="addCustomer_address2" class="form-control" type="text" placeholder="Address" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_address2">Address 2</label>
                <input id="addCustomer_address2" class="form-control" type="text" placeholder="Apt#" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_city">City</label>
                <input id="addCustomer_city" class="form-control" type="text" placeholder="City" />
            </div>
            <div class="form-group col-md-4">
                <label for="orgSettings-mainContactState">State:</label>
                @Html.EnumDropDownListFor(m => m.State, "-- Please select your state --",
                                           new { @id= "addCustomer-State", @class = "form-control" })
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_password">Password</label>
                <input id="addCustomer_password" class="form-control" type="password" />
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="addCustomer_confirmpassword">Confirm Password</label>
                <input id="addCustomer_confirmpassword" class="form-control" type="password" />
            </div>

            <div class="col-md-6 col-md-offset-4" style="padding-top: 15px;">
                <input type="button" class="btn btn-primary btn-block" id="createAccount" value="Submit" />
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function ()
        {

            $("#createAccount").click(function ()
            {
                console.log("Hey");
                var customerAccount = new Object();

                customerAccount.FirstName       = $("#addCustomer_firstName").val();
                customerAccount.LastName        = $("#addCustomer_lastName").val();
                customerAccount.EmailAddress    = $("#addCustomer_email").val();
                customerAccount.Address         = $("#addCustomer_address1").val();
                customer.Address2               = $("#addCustomer_address2").val();
                customerAccount.City            = $("#addCustomer_city").val();
                customerAccount.State           = $("#addCustomer-State").find(":selected").text();
                customerAccount.password        = $("#addCustomer_password").val();

                $.ajax
                ({
                    type: 'POST',
                    url: '@Url.Action("AddCustomerAccount", "Home")',
                    data: JSON.stringify(customerAccount),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data)
                    {
                           
                    },

                });
            });
            @*$("#createAcccount").click(function ()
            {
                // Get form values
               
                var customerAccount = new Object();

                customerAccount.FirstName = $("#addCustomer_firstName").val();
                customerAccount.LastName = $("#addCustomer_lastName").val();
                customerAccount.EmailAddress = $("#addCustomer_email").val();
                customerAccount.Address1 = $("#addCustomer_address").val();
                customerAccount.City = $("#addCustomer_city").val();
                customerAccount.State = $("#addCustomer-State").find(":selected").text();
                customerAccount.password = $("#addCustomer_password").val();

                $.ajax
                ({
                    type: 'POST',
                    url: '@Url.Action("AddCustomerAccount", "Employee")',
                    data: JSON.stringify(filingType),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data)
                    {
                           
                    },

                });
            });*@
        });
    </script>    
}