@using System.Data
@using System.Data.SqlClient
@model  IEnumerable<AllureRemodeling.Models.Estimates>



@{
        ViewBag.Title = "Estimate";
}    Layout = "~/Views/Shared/_Layout.cshtml";

<div class="container">
    <div class="panel" style="margin-top: 15px;">
        <div class="panel-heading" style="background-color: #9BC53D; color: white;">
            Estimate Questions
        </div>
        <div @*class="panel-body" id="estimateQuestionAnswerArea"*@>
            @foreach (var items in Model)
            {
                @Html.DisplayFor(m => items.Question);
                @Html.TextBoxFor(m => items.Answer);
            }
        </div>
    </div>
</div>

@*@section Scripts
{
    <script>
        $(function ()
        {
            $.ajax
            ({
                type: 'POST',
                url: '@Url.Action("GetEstimateQuestion", "Home")',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var html = '';

                        for (var i = 0; i <= data.length; i++) {
                            html += '<div class="form-group>'
                            html += '<label name=question_' + data.QuestionID + '> ' + data.Question + '</label>'
                            html += '<input class="form-control" id="answer_' + i + '"/>';
                            html += '</div>';


                        }

                        $("#estimateQuestionAnswerArea").append(html);
                    }
            });
        });
    </script>   
}*@