
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel" style="margin-top: 15px;">
        <div class="panel-heading" style="background-color: blue; color: white;">
            Personal Information
        </div>
        <div class="panel-body">
            <div class="col-md-4" style="padding-bottom: 15px;">
                <label for="passwordReset_Email">Email Address</label>
                <input id="passwordReset_Email" class="form-control" type="text" placeholder="Email" />
            </div>
            <div class="col-md-6 col-md-offset-4" style="padding-top: 15px;">
                <input type="button" class="btn btn-primary btn-block" id="passwordReset_Submit" value="Submit" />
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function ()
        {
            $("#passwordReset_Submit").click(function ()
            {
                var email = $("#passwordReset_Email").val();

                $.ajax
                ({
                    type: 'POST',
                    url: '@Url.Action("PasswordReset", "Home")',
                    data: JSON.stringify({ "email": email }),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data)
                    {

                    }
                })

            });
        })

    </script>
}

