
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Fully insured, highly reputable and recommended general contractors to meet your home improvement needs. We offer free estimates, good for 90 days. Call to set up your appointment. </p>