################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AllureRemodeling/obj/Debug
/AllureRemodeling/obj/Release
/packages/bootstrap.3.3.7
/packages/jQuery.3.3.1
/packages/jQuery.Validation.1.17.0
/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.4.0
/packages/Microsoft.ApplicationInsights.2.5.1
